@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
    font-family: 'Concert One', sans-serif;
    background-image: url(../img/fondo2.jpg);
	
	
}

header {
	
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color: antiquewhite;
	font-size:80px;
	padding-left: 30px;
}

header .logo img {
	width:80px;
	vertical-align: top;
}

header .logo a {
	color: antiquewhite;
	text-decoration: none;
	line-height:50px;
}

header nav {
	padding: 30px ;
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

nav a {
	color: antiquewhite;
	text-align: center;
	text-decoration: none;
	padding:10px;
	font-size: 20px;
	/* Flexbox */
	flex-grow:1;
	

}
*

nav a:hover {
	
	text-shadow:0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 30px #ffffff;


}

.texto p{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	font-size: 1.2em;

	

	}
.pflex{
	display:flex;
	justify-content:espace-around;
	flex-direction: row;
	padding-bottom:50px ;
	font-size: 22px;
	font-weight: normal;
	color: antiquewhite;
	padding-top: 30px;
	

}

.pflex iframe{
	padding-left: 30px;
	border-radius: 10px;

}

.pflex p{
	width: 50em;
	padding-left: 50px;
	padding-right: 30px;
	text-align: justify;
	font-size: 1.2em;
	
	
}
.main h2{
	font-size: 50px;
	justify-content: center;
	color: antiquewhite;
}

.texto{
	font-size: 22px;
	color: antiquewhite;

}

.main {
	
	
	padding:20px;
    height:50rem;
	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

.slider{
	display: flex;
	max-width: 112em;
	height: 300px;
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	overflow-x:scroll;/*le indicamos al contenedor que lo que sobra no lo muestre si no que lo esconda y solo se pieda acceder a el usando el scroll */
	scroll-snap-type: x 
	mandatory;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(rgb(243, 212, 212), rgb(246, 246, 212), rgb(245, 241, 223), 0.5);

}

.slider img{
	width: 100%;
	object-fit: cover;/*esta propiedad sirve ´para cuando una imagen tiene tamaño diferente y se estira demás forxzando su tamaño para que quede, no solo igual que las demas si no que cubra el espacio solicitado sin afectar la calidad */
	scroll-snap-align: center;


}


footer{
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	width: 100%;

}

.contenedorfooter{
	display:flex;
	flex-direction: row;
	

}

.boton{
	display: inline-block;
	height:60px;
	width: 60px;
	margin:25px;
	overflow: hidden;
	background: antiquewhite;
	border-radius:50px;
	cursor:pointer;
	box-shadow: 0 5px 5px rgba(236, 229, 229, 0.555);
	transition: all .3s ease-out;
	
}

.boton:hover{
	width: 200px;
	
}

.contenedor .boton:nth-child(1):hover .icono{
	background: rgb(1, 110, 114);
	color:antiquewhite;
}

.contenedor .boton:nth-child(2):hover .icono{
	background: rgb(82, 151, 3);
	color:antiquewhite;
}

.contenedor .boton:nth-child(3):hover .icono{
	background: rgb(1, 71, 24);
	color:antiquewhite;
}

.contenedor .boton:nth-child(4):hover .icono{
	background: rgb(47, 47, 124);
	color:antiquewhite;
}

.contenedor .boton:nth-child(5):hover .icono{
	background: red;
	color:antiquewhite;
}

.contenedor .boton:nth-child(6):hover .icono{
	background:linear-gradient(to bottom,rgb(81, 36, 231) 5%,rgb(107, 8, 153) 10%,rgb(165, 13, 157) 20%,orange);
	color:antiquewhite;
}

.icono{
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	text-align: center;
	

}

.boton i{
	font-size: 25px;
	line-height: 60px;
	color: #000;
}

.icono i:hover{
	color:antiquewhite;
}





@media screen and (max-width: 768px) {
	.contenedor {
		flex-direction:column;
		width: 100%;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}
    
	.pflex {
		flex-direction:column;
		margin-bottom: 10em;
		

	}

	.texto p{
		font-size: 1.2em;
	}

	.pflex p{
		max-width: 41em;
		width: 100%;
		text-align: justify;
		font-size: 0.9em;
		margin-left: 0px;
		margin-right: 30px;
		margin-bottom: 10px;
		
		
		
	}

	.pflex iframe{
		max-width: 41em;
		width: 100%;
		margin-bottom: 30px;
		margin-right: 50px;
		

	}
	
	.slider{
		align-items: center;
		flex-direction:column;
		overflow-y:scroll;
		margin-top: 40em;
		margin-right: 30px;
		
		width: 100%;
		scroll-snap-type: y 
		mandatory;
		
	}

	footer{
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	body{
		width: 100%;
	}
	header{
		flex-direction: column;
	}
	.texto p{
		max-width: 50em;
		width: 100%;
	}
	
	.pflex{
		flex-direction: column;
		margin-left: 30px;
		margin-left: 30px;
		
		
		
	}

	.pflex p{
	
		max-width: 45em;
		width: 100%;
		text-align: justify;
		margin-left: 0px;
		margin-right: 30px;
		margin-top: 30px;
		
		
	}

	.pflex iframe{
		max-width: 40em;
		width: 100%;
		margin-bottom: 30px;
		margin-right: 30px;
		border-radius: 10px;
		

	}

	

	.slider{
		align-items: center;
		justify-content: center;
		flex-direction:column;
		overflow-y:scroll;
		margin-top: 35em;
		margin-right: 30px;
		
		width: 100%;
		scroll-snap-type: y 
		mandatory;
		
	}
	
	footer {
		justify-content:space-around;
	}

}

@media screen and (max-width: 1200px) {

	.pflex{
		flex-direction: column;
		
		
	}

	.pflex iframe{
		max-width: 51em;
		width: 100%;
		margin-bottom: 40px;
		margin-right: 30px;
		border-radius: 10px;
		

	}

	.pflex p{
		
		max-width: 51em;
		width: 100%;
	}

	.slider{
		align-items: center;
		margin-top: 35em;
		flex-direction:column;
		overflow-y:scroll;
		margin-right: 35px;
		scroll-snap-type: y 
		mandatory;
		
		width: 100%;
		
	}

	

}


