@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
    font-family: 'Concert One', sans-serif;
    background-image: url(../img/fondo2.jpg);
	
	
}

header {
	
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color: antiquewhite;
	font-size:80px;
	padding-left: 30px;
}

header .logo img {
	width:80px;
	vertical-align: top;
}

header .logo a {
	color: antiquewhite;
	text-decoration: none;
	line-height:50px;
}

header nav {
	padding: 30px ;
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	color: antiquewhite;
	text-align: center;
	text-decoration: none;
	padding:10px;
	font-size: 20px;
	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	
}
.texto p{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}
.pflex{
	display:flex;
	justify-content:espace-around;
	flex-direction: row;
	padding-bottom:50px ;
	font-size: 22px;
	font-weight: normal;
	color: antiquewhite;
	padding-top: 30px;
	

}

.pflex iframe{
	padding-left: 30px;

}

.pflex p{
	width: 50em;
	padding-left: 50px;
	padding-right: 30px;
	text-align: justify;
	
}
.main h2{
	font-size: 50px;
	justify-content: center;
	color: antiquewhite;
}

.texto{
	font-size: 22px;
	color: antiquewhite;

}

.main {
	
	
	padding:20px;
    height:50rem;
	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	
	background-repeat: no-repeat;
	background-size: cover;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-around;
	width: 100%;

}


.widget1{
	height:300px;
	margin:20px;
	background-image: url(../img/foto\ 1.jpg);
	background-size: cover;
	width: 100%;

}

.widget2{
	height:300px;
	margin:20px;
	background-image: url(../img/Ganesh-Chaturthi.jpg);
	background-size: cover;
	width: 100%;

}

footer{
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
	width: 100%;

}

.contenedorfooter{
	display:flex;
	flex-direction: row;
	

}

.boton{
	display: inline-block;
	height:60px;
	width: 60px;
	margin:25px;
	overflow: hidden;
	background: antiquewhite;
	border-radius:50px;
	cursor:pointer;
	box-shadow: 0 5px 5px rgba(236, 229, 229, 0.555);
	transition: all .3s ease-out;
	
}

.boton:hover{
	width: 200px;
	
}

.contenedor .boton:nth-child(1):hover .icono{
	background: rgb(1, 110, 114);
	color:antiquewhite;
}

.contenedor .boton:nth-child(2):hover .icono{
	background: rgb(82, 151, 3);
	color:antiquewhite;
}

.contenedor .boton:nth-child(3):hover .icono{
	background: rgb(1, 71, 24);
	color:antiquewhite;
}

.contenedor .boton:nth-child(4):hover .icono{
	background: rgb(47, 47, 124);
	color:antiquewhite;
}

.contenedor .boton:nth-child(5):hover .icono{
	background: red;
	color:antiquewhite;
}

.contenedor .boton:nth-child(6):hover .icono{
	background:linear-gradient(to bottom,rgb(81, 36, 231) 5%,rgb(107, 8, 153) 10%,rgb(165, 13, 157) 20%,orange);
	color:antiquewhite;
}

.icono{
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	text-align: center;
	

}

.boton i{
	font-size: 25px;
	line-height: 60px;
	color: #000;
}

.icono i:hover{
	color:antiquewhite;
}





@media screen and (max-width: 768px) {
	.contenedor {
		flex-direction:column;
		width: 100%;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}
    
	.pflex {
		flex-direction:column;
		margin-bottom: 40px;
		

	}
	.pflex p{
		width: 100%;
		text-align: justify;
		font-size: 18px;
		
	}

	.pflex iframe{
		width: 100%;
		margin-bottom: 30px;

	}
	aside {
		flex-direction:column;
		flex:0;
		margin-top: 18em;
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.widget1 .widget2 {
		
		width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	body{
		width: 100%;
	}
	header{
		flex-direction: column;
	}
	
	.pflex{
		flex-direction: column;
		font-size: 17px;
		
	}
	.pflex p{
		font-size: 19px;
		
	}

	aside {
		flex-direction:column;
		width: 100%;
		
		}


	footer {
		justify-content:space-around;
	}

	.widget1 .widget2 {
		width: 100%;
		
	}

	
}

@media screen and (max-width: 1200px) {

	

}


